<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
		<Routing name="LogRouter">
			<Routes pattern="isoscm-${ctx:log_date}.log">
				<Route>
					<RollingFile name="log_date" fileName="isoscm-${ctx:log_date}.log" filePattern="isoscm-${ctx:log_date}.log">
						<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
					    <Policies>
							<OnStartupTriggeringPolicy/>
						</Policies>
					</RollingFile>
				</Route>
			</Routes>
		</Routing>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="LogRouter"/>
		</Root>
	</Loggers>
</Configuration>
